include *.md
include Dockerfile
include LICENSE
include LICENSE-VILBERT-MULTI-TASK
include *.txt
include *.yml
global-include *.md
global-include *.yml
global-include Makefile
global-include *.ipynb
global-include *.pyx
global-include *.c
global-include *.h
global-include *.txt
global-include LICENSE
global-include *.yml
global-include Dockerfile
global-include *.png
global-include *.jpg
global-include *.json
global-include *.yaml
