                                   [[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
pytorch-pretrained-bert = "==0.6.2"
numpy = "==1.16.4"
lmdb = "==0.94"
tensorflow = "==1.13.1"
tensorpack = "==0.9.4"
tqdm = "==4.31.1"
easydict = "==1.9"
jsonlines = "==1.2.0"
json-lines = "==0.5.0"
matplotlib = "*"
python-prctl = "*"
msgpack = "*"
msgpack-numpy = "*"
gensim = "*"
pandas = "*"
python-magic = "*"
requests = "*"
tensorboardX = "==1.2"
PyYAML = "==5.1.2"
Cython = "*"

[requires]
python_version = "3.6"
